.arithmetics {
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  color: white;
  display: flex;
}

.card {
  flex: 1 1 0px;
  object-fit: cover;
}

.card + .card {
  margin-left: 2%;
}

.btn-practice{
    margin-top: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.App {
 margin: 0px;
}

/* .dav-container {
   
   border-radius: 25px;
   
} */

.MuiToolbar-root {
  margin-left: 0;
  margin-right: 0;
}